{% extends "base.html" %}
{% block Styles %}
<link href="/assets/css/sass_out/landing.css" type="text/css" rel="stylesheet">
{% endblock %}
{% block Content %}
<div>
	<img src="/assets/img/landing.png">
	<div><span></span><img src="/assets/img/btnimg1.png"><input type="text" placeholder="Username"></input></div>
	<div><span></span><img src="/assets/img/btnimg2.png"><input type="text" placeholder="Password"></input></div>
	<button><a href="/qr_code">Get Started</a></button>
	<div style="background-color: transparent;"><a href="" style="float:left;">Create Account</a><a href="" style="float:right;">Need Help?</a></div>
</div>
{% endblock %}